body {
    background-color: #FFDCDC;
    font-family: monospace;
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: 15px;
}

.navbar {
    background: #FFE8CD;
    font-family: calibiri;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.navdiv {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

#complete-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-words{
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

#logo-img {
    height: 50px;
    width: 50px;
}

#nav-links {
    list-style: none;
}

.item {
    display: inline-block;
}

.item a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
}

.nav-button a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: calibri;
    text-decoration: none;

}

.spending-desc {
    text-align: center;
}

#spendings-box {
    height: 80;
    width: 85%;
    padding: 20px; 
    margin: auto;
    background-color: rgb(255 242 235 / 0.5);
}

.outer-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.check-container {
    margin: 0;
    float: none;
    height: 480px;
    width: 40%;
    padding: 20px 20px;
    border-radius: 15%;
    background-color: rgb(255 242 235 / 0.5)
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF2EB;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none; 
    outline: none;
    background: transparent;
    padding: 10px;

}

button {
    border: none; 
    outline: none;
    padding: 16px 30px;
    background: #FFD6BA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

#daily-list-container li,
#non-daily-list-container li {
    list-style: none;
    font-size: 14px;
    padding: 12px 8px 12px 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

#daily-list-container li::before,
#non-daily-list-container li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked-circle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: -20px;
}

#daily-list-container li.checked,
#non-daily-list-container li.checked {
    color: #555;
    text-decoration: line-through;

}

#daily-list-container li.checked::before,
#non-daily-list-container li.checked::before {
    background-image: url(images/checked-circle.png)
}

#daily-list-container li span,
#non-daily-list-container li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

#daily-list-container li span:hover,
#non-daily-list-container li span:hover {
    color: white;
}

#wishlist-box {
    height: 80;
    width: 85%;
    padding: 20px; 
    margin: auto;
    background-color: rgb(255 242 235 / 0.5);
}

#placeholder-card {
    height: 150px;
    width: 85%;
    padding: 20px 20px;
    margin: auto;
    margin-top:30px;
    background-color: rgb(255 242 235 / 0.5);
    border-radius: 50px;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.wishlist-img {
    width: 150px;
    height: 150px;
    border-radius: 15%;
}


