body {
    background-color: #FFDCDC;
    font-family: monospace;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.total-box {
    height: 240px;
    width: 300px;
    padding: 20px; 
    margin: auto;
}

.check-container {
    margin: auto;
    float: left;
    height: 480px;
    width: 20%;
    padding: 20px 20px;
}

#column1 {
    background-color: rgb(255 242 235 / 0.5)
}

#column2 {
    background-color: rgb(255 242 235 / 0.5)
}

#column3 {
    background-color: rgb(255 242 235 / 0.5)
}

#column4 {
    background-color: rgb(255 242 235 / 0.5)
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF2EB;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none; 
    outline: none;
    background: transparent;
    padding: 10px;

}

button {
    border: none; 
    outline: none;
    padding: 16px 30px;
    background: #FFD6BA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 14px;
    padding: 12px 8px 12px 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-image: url(images/unchecked-circle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;

}
