body {
    background-color: #FFDCDC;
    font-family: monospace;
    margin: 0;
}

h1, h2, h3 {
    text-align: center;
}

p {
    font-size: 15px;
}

.centered-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/***** HEADER *****/

.navbar {
    background: #FFE8CD;
    font-family: calibiri;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#complete-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo-words {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#logo-img {
    height: 50px;
    width: 50px;
}

#nav-links {
    list-style: none;
}

.item {
    display: inline-block;
}

.item a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 25px;
}

.btn {
    background: #FFD6BA;
    color: #fff; 
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    padding: 16px 30px;
}

.btn a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: calibri;
}

/***** MONEY-COUNTER *****/
#spendings-box {
    height: 100;
    width: 85%;
    padding: 20px;
    margin: auto;
    background-color: rgb(255 242 235 / 0.5);

    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.spending-desc {
    font-weight: bold;
    font-size: 25px;
}

#piggybank-img {
    height: 150px;
    width: 150px;
}

.detract-money {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFF2EB;
    border-radius: 30px;
    padding-left: 30px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent; 
    padding: 10px;
}

/***** HABIT-CARDS *****/

#habits-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 30px auto;
    width: 85%;
}

.individual-habit {
    margin: 0;
    float: none;
    height: 380px;
    padding: 20px 20px;
    border-radius: 8%;
    background-color: rgb(255 242 235 / 0.5)
}

#habits-add {
    height: 100;
    width: 85%;
    padding: 20px;
    margin: 30px auto;
    background-color: rgb(255 242 235 / 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.check-container .check-item {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 80px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.check-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check-container .check-item::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    background-image: url(images/unchecked-circle.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    right: 20px;
}

.check-container .check-item.checked {
    color: #555;
}

.check-container .check-item.checked::before {
    background-image: url(images/checked-circle.png);
}

.habit-span {
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #555;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.hide {
  display: none;
}

.habit-span:hover + .hide {
  display: block;
  color: red;
}

.habit-span:hover {
    color: white;
}

.timer-box {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.time {
    text-align: center;
}

.time h2 {
    font-weight: 100;
}

#habitPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.form-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    height: 100px;
    resize: vertical;
}

/***** HOW IT WORKS PAGE *****/

/***** WISHLIST PAGE *****/

#wishlist-title {
    height: 100;
    width: 85%;
    padding: 20px;
    margin: auto;
    background-color: rgb(255 242 235 / 0.5);
}

#wishlist-title h2, p {
    text-align: center;
}

#wishlist-add {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wishlistPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.wishlist-card {
    position: relative;
    height: 150px;
    width: 85%;
    padding: 20px 20px;
    margin: auto;
    margin-top:30px;
    background-color: rgb(255 242 235 / 0.5);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.wishlist-card-child p {
    text-align: left;
}

.wishlist-img {
    width: 150px;
    height: 150px;
    border-radius: 15%;
}

#wishlist-card span {
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #555;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

#wishlist-card span:hover {
    color: white;
}

/***** FOOTER *****/

.footer {
    background: #FFE8CD;
    font-family: calibiri;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
}

.footerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-text {
    color: white;
    font-weight: bold;
}